! ---------------------------- Colors 0-7
*.color0: #090c1c
*color0:  #090c1c
*.color1: #95364D
*color1:  #95364D
*.color2: #C83F4E
*color2:  #C83F4E
*.color3: #EE5364
*color3:  #EE5364
*.color4: #99ba92
*color4:  #99ba92
*.color5: #99ba92
*color5:  #99ba92
*.color6: #E06D89
*color6:  #E06D89
*.color7: #95cae3
*color7:  #95cae3

! ---------------------------- Colors 8-15
*.color8: #688d9e
*color8:  #688d9e
*.color9: #95364D
*color9:  #95364D
*.color10: #C83F4E
*color10:  #C83F4E
*.color11: #EE5364
*color11:  #EE5364
*.color12: #99ba92
*color12:  #99ba92
*.color13: #99ba92
*color13:  #99ba92
*.color14: #E06D89
*color14:  #E06D89
*.color15: #95cae3
*color15:  #95cae3
! Black color that will not be affected by bold highlighting.
*.color66: #090c1c
*color66:  #090c1c

! ---------------------------- Xft
Xft.autohint:  false
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting:   true
Xft.dpi:       96
Xft.rgba:      rgb

! ---------------------------- rxvt-unicode
URxvt.scrollBar:        false
URxvt.scrollBar_right:  false
URxvt.font:             xft:Droid Sans Mono:pixelsize=13:Regular
URxvt.boldFont:         xft:monospace:pixelsize=13:Bold
URxvt.italicFont:       xft:monospace:pixelsize=13:Italic
URxvt.boldItalicFont:   xft:monospace:pixelsize=13:Bold:Italic

*foreground:        #95cae3
*background:        #090c1c
*.foreground:       #95cae3
*.background:       #090c1c
emacs*foreground:   #95cae3
emacs*background:   #090c1c
URxvt*foreground:   #95cae3
XTerm*foreground:   #95cae3
UXTerm*foreground:  #95cae3
URxvt*background:   [100]#090c1c
XTerm*background:   #090c1c
UXTerm*background:  #090c1c
URxvt*cursorColor:  #95cae3
XTerm*cursorColor:  #95cae3
UXTerm*cursorColor: #95cae3
URxvt*borderColor:  [100]#090c1c

! ---------------------------- rofi
rofi.color-enabled: true
rofi.color-window: #090c1c, #000000, argb:ff95cae3
rofi.color-normal: argb:00fdf6e3, #e60053, argb:00eee8d5, #e60053, #000000
rofi.color-active: argb:00fdf6e3, #95cae3, argb:00eee8d5, #95cae3, #000000
rofi.color-urgent: argb:00fdf6e3, #ff3334, argb:00eee8d5, #ff3334, #000000
! Separator style (none, dash, solid)
rofi.separator-style:                dash
rofi.opacity:                        100
rofi.font:                           Droid Sans Mono 12
rofi.hide-scrollbar: true
