! ---------------------------- Colors 0-7
*.color0: #090c1c
*color0:  #090c1c
*.color1: #d962db
*color1:  #d962db
*.color2: #EE5364
*color2:  #EE5364
*.color3: #e83375
*color3:  #e83375
*.color4: #fecdaf
*color4:  #fecdaf
*.color5: #99ba92
*color5:  #99ba92
*.color6: #E06D89
*color6:  #E06D89
*.color7: #95cae3
*color7:  #95cae3

! ---------------------------- Colors 8-15
*.color8: #688d9e
*color8:  #688d9e
*.color9: #95364D
*color9:  #95364D
*.color10: #e8727f
*color10:  #e8727f
*.color11: #e78fe8
*color11:  #e78fe8
*.color12: #c9d47f
*color12:  #c9d47f
*.color13: #99ba92
*color13:  #99ba92
*.color14: #E06D89
*color14:  #E06D89
*.color15: #95cae3
*color15:  #95cae3
! Black color that will not be affected by bold highlighting.
*.color66: #090c1c
*color66:  #090c1c

! ---------------------------- Xft
Xft.autohint:  false
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting:   true
Xft.dpi:       96
Xft.rgba:      rgb

! ---------------------------- rxvt-unicode
URxvt.scrollBar:        false
URxvt.scrollBar_right:  false
URxvt.font:             xft:Droid Sans Mono:pixelsize=13:Regular
URxvt.boldFont:         xft:monospace:pixelsize=13:Bold
URxvt.italicFont:       xft:monospace:pixelsize=13:Italic
URxvt.boldItalicFont:   xft:monospace:pixelsize=13:Bold:Italic

*foreground:        #95cae3
*background:        #090c1c
*.foreground:       #95cae3
*.background:       #090c1c
emacs*foreground:   #95cae3
emacs*background:   #090c1c
URxvt*foreground:   #95cae3
XTerm*foreground:   #95cae3
UXTerm*foreground:  #95cae3
URxvt*background:   [100]#090c1c
XTerm*background:   #090c1c
UXTerm*background:  #090c1c
URxvt*cursorColor:  #95cae3
XTerm*cursorColor:  #95cae3
UXTerm*cursorColor: #95cae3
URxvt*borderColor:  [100]#090c1c
